body {
    background-color: #f9f9f9;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    position: relative;
}

.ui.menu {
    margin-bottom: 0;
    zoom: 1.6;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    /* scroll-snap-type: x mandatory; */
}

.ui.menu a {
    /* scroll-snap-align: start; */
}

.ui.menu::-webkit-scrollbar {
    height: 3px;
}
.ui.menu::-webkit-scrollbar-track {
    border: none;
    background: #888;
}

.ui.menu::-webkit-scrollbar-thumb {
    background: #333; 
}

.ui.segment {
    /* background:transparent; */
    /* box-shadow: none; */
    margin: 0;
    padding: 0;
    border-radius: 0;
    border: none;
    overflow-y: auto;
}

webview {
    position: fixed;
	width: 100%;
	height: -webkit-fill-available;
    background: #333;
}