body {
    background-color: #f9f9f9;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    position: relative;
}

.ui.menu {
    margin-bottom: 0;
    zoom: 1.6;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    height: 53px;
}

.ui.menu a.item {
    height: 43px;
    font-family: serif;
    /* box-shadow: 0px -2px 12px #00000061; */
    border-bottom: 1px solid #e5e5e5;
}

.ui.menu a.item.active {
    box-shadow: inset 0px 8px 13px #ccccccc4;
}

.ui.menu::-webkit-scrollbar {
    height: 3px;
}
.ui.menu::-webkit-scrollbar-track {
    border: none;
    background: #888;
}

.ui.menu::-webkit-scrollbar-thumb {
    background: #333; 
}

.ui.segment {
    /* background:transparent; */
    /* box-shadow: none; */
    position: relative;
    top: -15px;
    margin: 0;
    padding: 0;
    border-radius: 0;
    border: none;
    overflow-y: auto;
}

webview {
    position: fixed;
	width: 100%;
	height: -webkit-fill-available;
    background: #333;
}